/* * {
  border: 1px solid black;
} */

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.footer {
  background: var(--color-dark-cyan);
  color: var(--color-white);
}

.footer__contact-list {
  padding: 2rem;
}

.footer__contact-list-item-1 {
  padding-left: 1rem;
}
.footer__contact-list-item-2 {
  padding-left: 1rem;
}
.footer__contact-list-item-3 {
  padding-left: 1rem;
}

.footer__contact-list-item-1::marker {
  content: 'place';
  font-family: 'Material Icons', sans-serif;
}

.footer__contact-list-item-2::marker {
  content: 'phone_in_talk';
  font-family: 'Material Icons', sans-serif;
}

.footer__contact-list-item-3::marker {
  content: 'email';
  font-family: 'Material Icons', sans-serif;
}

.footer__contact-list-item-link:hover {
  color: var(--color-pink);
}
