/* * {
  border: 1px solid black;
} */

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  margin-top: 2rem;
}

.footer {
  background: var(--color-dark-cyan);
  color: var(--color-white);
  padding: 10rem 12px 12px 12px;
}

.footer__contact-list {
  padding-left: 2rem;
  font-size: 0.8rem;
}

.footer__contact-list > li {
  padding: 0.5rem;
}

.footer__contact-list-item-1 {
  list-style-image: url(../../assets/images/icon-location.svg);
  max-width: 420px;
}

.footer__contact-list-item-2 {
  list-style-image: url(../../assets/images/icon-phone.svg);
}
.footer__contact-list-item-3 {
  list-style-image: url(../../assets/images/icon-email.svg);
}

.footer__contact-list-item-link:hover {
  color: var(--color-pink);
}

.footer__tag-list {
  list-style: none;
  padding: 0;
}

.footer__tag-list-item {
  padding: 0.5rem 0;
}

.footer__tag-list-item-link:hover {
  color: var(--color-pink);
}

.footer__social-list {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer__social-list-item {
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0 0.2rem;
}

.footer__social-list-item-link {
  width: 100%;
}

.footer__social-list-item-image {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 0.3rem;
}

.footer__copy {
  font-size: 0.5rem;
  text-align: center;
}

@media (min-width: 1440px) {
  .footer {
    padding: 10rem 5rem;
    height: 40rem;
    position: relative;
  }

  .footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr 20%;
    grid-template-areas: 'contact tag social';
    column-gap: 2rem;
  }

  .footer__contact-list {
    grid-area: 'contact';
    align-self: center;
  }

  .footer__tag-list {
    grid-area: 'tag';
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 10rem;
    align-self: center;
  }

  .footer__social-list {
    grid-area: 'social';
  }

  .footer__copy {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
}
